.cover-image {
  width: 110px;
}

@media (max-width: 576px) {
  .cover-image {
    width: 170px;
  }
}

.title-container {
  span {
    color: #595959;
    font-style: italic;
  };

  .title-start {
    width: 10px;
    background-color: #00ff80;
  };

  .divider {
    width: 40%;
  };

  @media (max-width: 576px) {
    .divider {
      width: 100%
    }
  }
}

.movie-container {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
  background-color: rgba(192, 216, 216, 0.6)
}



.movie-container:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pill-container {
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.revenue-container {
  background-color: #d6f5d6;
}

.type-container {
  background-color: #ffcccc;
}

i {
  font-size: 24px;
}

span {
  font-size: 16px;
}
