<ng-container *ngIf="!isLoading; else loader">
  <h2>{{movie.title}}</h2>
  <div mat-dialog-content>
    <div class="d-flex flex-row">
      <div class="d-flex align-items-center">
        <img  class="cover-image my-2 mx-auto"
                  [src]="movie.titleImage.imagePath" alt="Cover">
      </div>
      <div class="ms-4 basic-info-container mt-4">
        <div>
          <span>
            Type:
          </span>
          <h6>{{movie.movieTypeName}}</h6>
        </div>
        <div>
          <span>
            Release Date:
          </span>
          <h6>{{movie.releaseDate | date:'dd/MM/yyyy'}}</h6>
        </div>
        <div>
          <span>
            Duration:
          </span>
          <h6>{{movie.duration | durationPipe}}</h6>
        </div>
        <div>
          <span>
            Revenue:
          </span>
          <h6>{{movie.revenue | number}} $</h6>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <p>{{movie.description}}</p>
    </div>
    <hr class="mx-5 my-3" />
    <div>
      <h5 class="mb-3">Abstract</h5>
      <p>{{movie.abstractContent}}</p>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <div class="d-flex justify-content-center p-5" *ngIf="isLoading">
    <img src="../../../assets/spinner.svg" alt="loading spinner">
  </div>
</ng-template>
